<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" enabled="True">
        <Configuration>
          <Format>opencover</Format>

          <Exclude>[YourTestAssembly.Tests]*</Exclude>
          <Exclude>[OtherTestAssembly.Tests]*</Exclude>

          </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>